* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

body>section {
  padding: 30px 0;
}

h1 {
  font-size: 4.8rem !important;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}

h2 {
  font-size: 3.5rem !important;
  letter-spacing: 3px;
  color: #000;
}

h3 {
  font-size: 1.8rem !important;
  letter-spacing: 1px;
  color: #fff;
}

h4 {
  font-size: 1.5rem !important;
  letter-spacing: 1px;
  color: #000;
}

h5 {
  font-size: 1rem !important;
  letter-spacing: 1px;
  color: #fff;
}

li {
  list-style: none;
  text-decoration: none;
}

/* NavBar */

.navbar {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar.scrolled {
  background: #000 !important;
  /* IE */
  background: #000 !important;
  /* NON-IE */
}

.navbar>.container .navbar-brand {
  margin-left: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #000 !important;
  padding: 15px 0 !important;
  padding-bottom: 0 !important;
}

.navbar-nav {
  margin-top: 12px !important;
}

.navbar-nav>li {
  margin-left: 35px !important;
  padding-bottom: 28px !important;
}

.navbar-inverse .navbar-nav>li>a {
  padding: 5px 12px !important;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  transition: all .3s ease-out;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #2979ff;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 30px !important;
  line-height: 50px !important;
  font-weight: 600;
  color: #fff;
}

.navbar-inverse .navbar-brand .fa {
  color: #3498db;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #631b3f;
  color: #fff;
}

.navbar-brand .logo {
  margin: 0;
  padding: 0;
  width: 90px;
  height: 100%;
}

/* Home */

.landingImg1 {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/landing1.jpg');
  height: 110vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.separator {
  background-color: #fff;
  width: 25%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}


/* https://codepen.io/2kool2 */

.connect-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 1.5rem auto;
  max-width: 21rem;
}

.connect-list li {
  text-align: center;
}

.cv {
  font-size: 0.9em !important;
}

.connect-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
  font-size: 2rem;
  outline: 0 solid;
  text-decoration: none !important;
  box-shadow: 0 .25em .25em rgba(0, 0, 0, .3);
  transition: all .3s ease-out;
}

.connect-icon:hover,
.connect-icon:focus {
  background-color: currentColor !important;
  outline: 0 solid;
  transform: scale(1.12);
  box-shadow: 0 .5em .5em rgba(0, 0, 0, .4);
}

.connect-icon i {
  padding: .5em;
}

.connect-icon i:hover {
  color: #fff;
}

.connect-icon::before {
  content: attr(aria-label);
  position: absolute;
  left: 50%;
  bottom: -100%;
  font-size: .8rem;
  white-space: nowrap;
  color: white;
  background-color: #3B2D4A;
  /* Less accessible option: background-color: inherit;*/
  padding: .5em .7em .4em;
  box-shadow: 0 .5em .5em rgba(0, 0, 0, .4);
  opacity: 0;
  transform: translate(-50%, -180%) scale(0.7);
  border-radius: 2em;
  transition: .3s;
}

.connect-icon:hover::before,
.connect-icon:focus::before {
  opacity: 1;
  transform: translate(-50%, -70%) scale(1);
}

.-clicked {
  animation: pressed-social .3s ease-out;
}

@keyframes pressed-social {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(.8);
    background-color: #3B2D4A;
    box-shadow: 0 .5em .5em rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1.2);
  }
}

.file {
  color: #000 !important;
}

.fa-linkedin:active {
  color: #fff;
}

.linkedin {
  color: #007BB5 !important;
}

.github {
  color: #000 !important;
}

.btn-landing {
  margin-top: 15px !important;
}

.btn-slide {
  padding: 8px 20px !important;
  background: #3498db !important;
  background-color: #dd006f !important;
  color: #fff !important;
  border-radius: 4px !important;
  margin-top: 50px;
  margin: 0 10px;
  display: inline-block !important;
  transition: 0.5s !important;
  letter-spacing: 1px;
}

.btn-slide:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
  background-color: #ff80bf !important;
  color: #350a1f !important;
}

/* Projects */

#Projects {
  padding: 3rem 0;
  background-color: rgb(221, 221, 221);
}

.card-body {
  padding-left: 3rem !important;
}

.projects-container {
  max-width: 1280px !important;
}

.card-img-top {
  width: 100%;
  height: 26rem;
  object-fit: cover;
}

.used-tech-body {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.used-tech {
  list-style: none;
  padding-top: 10px;
}

.used-tech p {
  margin: 0.5rem auto;
  font-size: 14px;
  background: #1e8ee9;
  color: #fff;
  display: inline-block;
  padding: 0.1rem 1rem;
  border-radius: 5px;
}

.used-tech li {
  padding-left: 10px;
  padding-right: 10px;
}

.projects-buttons {
  display: flex;
  justify-content: start;
}

.button-code,
.button-view {
  color: #fff !important;
  padding: 0.5rem 1rem !important;
}

.btn-projects {
  margin-top: 15px !important;
  background: #3498db !important;
  background-color: #0b1131 !important;
  color: #fff !important;
}

.btn-projects:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
  background-color: #80c6ff !important;
  color: #0b0d30 !important;
}

/* Skills */

.lang-list,
.libfram-list,
.tech-list,
.network-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.lang-list img,
.libfram-list img,
.tech-list img {
  width: 100px;
  margin: 1rem 4rem;
}

/* Contact me */

#Contact {
  background-color: rgb(250, 250, 250);
}

.button-submit {
  padding: 8px 3rem !important;
}

.email {
  font-size: 1.2rem;
  font-weight: bold;
}

.copyright {
  background-color: rgb(22, 22, 22);
  color: rgb(206, 206, 206);
  font-size: 0.8rem;
}

.copyright p {
  vertical-align: middle;
  margin-bottom: 0 !important;
}

/* Network */

/* https://codepen.io/chrisdothtml/pen/azPYqq */

.network i {
  line-height: 4rem;
  font-size: 3rem;
  transition: 0.2s linear;
}

.fa-instagram:hover,
.fa-instagram:focus {
  color: white;
}

.fa-instagram {
  color: #e1306c;
}

.fa-github:hover,
.fa-github:focus {
  color: white;
}

.fa-github {
  color: #000;
}

.fa-linkedin:hover,
.fa-linkedin:focus {
  color: white;
}

.fa-linkedin {
  color: #0077B5
}

.button-networks {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.4rem 1rem !important;
  background: #f1f1f1 !important;
  border-radius: 30% !important;
  transition: 0.5s !important;
  box-shadow: 0 5px 15px -5px #ecf0f1;
  overflow: hidden;
  position: relative;
}


.button-networks:hover,
.button-networks:focus{
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
  background-color: #ff80bf !important;
}

/* Media queries */

/*
col <576pxs
col-sm ≥576px
col-md ≥768px
col-lg ≥992px
col-xl ≥1200px
*/

@media only screen and (max-width: 576px) {

  h1 {
    font-size: 3.8rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
    letter-spacing: 3px;
    color: #000;
  }

  h3 {
    font-size: 1.3rem !important;
    letter-spacing: 1px;
    color: #fff;
  }

  h4 {
    font-size: 1rem !important;
    letter-spacing: 1px;
    color: #000;
  }

  h5 {
    font-size: 0.8rem !important;
    letter-spacing: 1px;
    color: #fff;
  }

  .navbar-brand .logo {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 100%;
  }

  .projects-buttons {
    display: flex;
    justify-content: center;
  }

  .button-view,
  .button-code {
    padding: 0.5rem 3rem;
  }

  .button-networks {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    padding: 0.4rem 1rem !important;
    background: #f1f1f1 !important;
    border-radius: 30% !important;
    transition: 0.5s !important;
    box-shadow: 0 5px 15px -5px #ecf0f1;
    overflow: hidden;
    position: relative;
    margin: 1rem 0.6rem
  }

}


@media only screen and (min-width: 768px) {
  
  .button-networks {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    padding: 0.4rem 1rem !important;
    background: #f1f1f1 !important;
    border-radius: 30% !important;
    transition: 0.5s !important;
    box-shadow: 0 5px 15px -5px #ecf0f1;
    overflow: hidden;
    position: relative;
    margin: 1rem 1rem
  }
}


@media only screen and (min-width: 992px) {

  .button-networks {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    padding: 0.4rem 1rem !important;
    background: #f1f1f1 !important;
    border-radius: 30% !important;
    transition: 0.5s !important;
    box-shadow: 0 5px 15px -5px #ecf0f1;
    overflow: hidden;
    position: relative;
    margin: 1rem 3rem
  }

}

/* About */

.avatar {
  width: 15rem;
}

.about-me {
  background-color: #000;
  padding-top: 3rem;
}

.aboutme-container {
  padding: 5rem;
}

.about-text {
  font-size: 1.3rem;
}

.goal-img {
  width: 100%;
  height: auto;
}