.card {
  background-color: rgb(240, 240, 240) !important;
  .card-subtitle {
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
  }

  .card-text:last-child {
    margin-bottom: 1rem !important;
  }

  .used-tech-container {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .used-tech {
    list-style: none;
    padding-top: 10px;
    .p-languages {
      margin: 0.5rem auto;
      font-size: 14px;
      background: #536cdf;
      color: #fff;
      display: inline-block;
      padding: 0.1rem 1rem;
      border-radius: 5px;
    }
    .p-libraries {
      margin: 0.5rem auto;
      font-size: 14px;
      background: #bb2d40;
      color: #fff;
      display: inline-block;
      padding: 0.1rem 1rem;
      border-radius: 5px;
    }

    li {
      padding-right: 10px;
    }
  }

  .custom-btn {
    background-color: rgb(15, 15, 15) !important;
    color: white;
    border-radius: 4px !important;
    display: inline-block !important;
    transition: 0.5s !important;
    letter-spacing: 1px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
      transform: translate3d(0, -1px, 0);
      background-color: rgb(251, 252, 251) !important;
      color: rgb(10, 10, 10) !important;
    }
  }
}
