.avatar {
  width: 100%;
  border-radius: 10% !important;
}

.about-title {
  font-size: 4.5rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: rgb(251, 251, 252);
  margin-bottom: 1rem;
}

.about-me {
  font-size: 1.2em;
}

.subtitle-container {
  padding-top: 3em;
}

.about-subtitle {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: rgb(251, 251, 252);
  margin-bottom: 1rem;
}

.goal-img {
  width: 100%;
  height: auto;
  border-radius: 2% !important;
}