.header {
  .navbar {
    padding-top: !important;
    background-color: rgb(10, 10, 10);
    a {
      color: rgb(251, 251, 252) !important;
      padding: 1.8rem !important;
      position: relative;
    }

    #nav-icon1 {
      margin-right: 8px;
    }

    .nav-link {
      &::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 1px;
        left: 50%;
        bottom: 0;
        background-color: rgb(251, 251, 252);
        transition: all ease-in-out 0.3s;
      }
      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-collapse {
      background-color: rgb(10, 10, 10);
      text-align: center;
      font-size: 1.5rem;
      opacity: 0.98;
      height: 100vh;
      .nav-link {
        padding-bottom: 100%;
      }
    }
  }
}
