.landing {
  position: relative;
  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //  url('../../assets/landing1.jpg');
  background: rgb(10, 10, 10);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .title {
    font-size: 4.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(251, 251, 252);
    margin-bottom: 1rem;
  }

  .subtitle-typed {
    font-size: 1.5rem;
    letter-spacing: 5px;
    color: rgb(251, 251, 252);
  }

  .separator {
    background-color: rgb(251, 251, 252);
    width: 25%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  ul {
    margin-bottom: 1.5rem;
  }

  .connect-list {
    display: flex;
    justify-content: space-around;
    li {
      text-align: center;
      padding: 1em 2.5em;
    }
  }

  .cv {
    font-size: 0.9em !important;
  }

  .connect-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    border-radius: 20%;
    font-size: 2rem;
    outline: 0 solid;
    text-decoration: none !important;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-out;

    svg:hover {
      color: white;
    }

    &:hover,
    &:focus {
      background-color: currentColor !important;
      outline: 0 solid;
      transform: scale(1.12);
      box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.4);
    }
    &:hover::before, &:focus::before {
      opacity: 1;
      transform: translate(-50%, -70%) scale(1);
    }

    &::before {
      content: attr(aria-label);
      position: absolute;
      left: 50%;
      bottom: -100%;
      font-size: 0.8rem;
      white-space: nowrap;
      color: white;
      background-color: #3b2d4a;
      /* Less accessible option: background-color: inherit;*/
      padding: 0em 0.7em;
      margin: 0 0 0.8em 0;
      box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.4);
      opacity: 0;
      transform: translate(-50%, -180%) scale(0.7);
      border-radius: 2em;
      transition: 0.3s;

      pointer-events: none;
      cursor: default;
    }

    .svg-icon {
      padding: 10px;
      width: 100%;
      height: 100%;
    }
  }

  .-clicked {
    animation: pressed-social 0.3s ease-out;
  }

  @keyframes pressed-social {
    0% {
      transform: scale(1.1);
    }

    50% {
      transform: scale(0.8);
      background-color: #3b2d4a;
      box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0);
    }
  }

  .file,
  .github {
    color: #000 !important;
  }

  .fa-linkedin:active {
    color: white;
  }

  .linkedin {
    color: #007bb5;
  }

  .custom-btn {
    margin-top: 15px;
    padding: 8px 20px;
    background: #3498db !important;
    background-color: #dd006f !important;
    color: white;
    border-radius: 4px !important;
    margin-top: 50px;
    margin: 0 10px;
    display: inline-block !important;
    transition: 0.5s !important;
    letter-spacing: 1px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
      transform: translate3d(0, -1px, 0);
      background-color: #ff80bf !important;
      color: #350a1f !important;
    }
  }
}
